body {
    margin: 0;
    padding: 0;
    background-image: url('Images/Backgrounds/bg4.jpg');
    background-size: auto;
    background-position: center;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
}
.image-primary {
    margin: 0px;
    align-self: center;
    max-width: 250px; /* Adjust as needed */
    height: auto;
}

.image-secondary {
    margin: 10px;
    align-self: center;
    max-width: 80px; /* Adjust as needed */
    height: auto;
}

.divider {
    width: 2px;
    height: 50px; /* Adjust height as needed */
    background-color: black;
    align-self: center;
    margin-top: 0px; /* Adjust margin as needed */
}
.tabs {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}
.tablink-1 {
  display: inline-block;
  margin: 0 10px; /* Adjust margin between tabs */
  cursor: pointer;
  border: none;
}
.tablink-1.active {
    color: red;
}
.tablink-2 {
    display: inline-block;
    margin: 0 10px; /* Adjust margin between tabs */
    cursor: pointer;
    border: none;
}
.tablink-3 {
    display: inline-block;
    margin: 0 10px; /* Adjust margin between tabs */
    cursor: pointer;
    border: none;
}
.content {
    text-align: center;
    display: none;
    padding: 20px;
}
.aboutme-content {
    text-align: center; /* Center align the text */
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    height: auto;
}

.aboutme-content h1 {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
}
.aboutme-content h2 {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; /* Center the container */
  padding: 10px;
}
.content-data {
  text-align: justify;
  margin-right: 250px;
  margin-left: 250px;
}
.profilepic {
    display: flex;
    justify-content: center;
}

.research {
    text-align: center; /* Center align the text */
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
.researchinfo {
    display: flex;
    justify-content: space-between;
}

.researchinfocontentright {
    flex: 1;
    margin-left: 200px;
}

.researchimageright {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    float: right;
    margin-right: 200px;
}
.researchleft {
    display: flex;
    text-align: left;
}

.researchimageleft {
    width: 200px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 200px;
}

.researchtextleft {
    flex: 1;
    padding-left: 20px; /* Add padding to separate text from image */
    margin-right: 200px;
    align-items: flex-end;
}
.logocontainer {
  justify-content: center;
  display: flex;
  justify-content: center; /* Center the container horizontally */
}
.logos {
  justify-content: center;
    display: flex;
    align-self: center;
}

.logos a {
    margin-right: 20px; /* Adjust spacing between logos */
    margin-left: 20px;
}
.logodivider {
    width: 2px;
    height: 30px; /* Adjust height as needed */
    background-color: black;
    align-self: center;
    margin-top: 0px; /* Adjust margin as needed */
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    border-top: 1px solid #ccc; /* Add border */
    background-color: #222; /* Add background color */
    align-items: center;
    left: 0;
    right: 0;
}

nav {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
