body {
    margin: 0;
    padding: 0;
    background-image: url('Images/Backgrounds/bg4.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.image-primary {
    margin: 0px;
    align-self: center;
    max-width: 250px;
    height: auto;
}

.image-secondary {
    margin: 10px;
    align-self: center;
    max-width: 80px;
    height: auto;
}

/* Profile Picture Styling */
.image-profilepic {
    display: flex;
    justify-content: center;
}
.image-profilepic img {
    max-width: 200px; /* Ensure the image does not exceed a certain width */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 15px; /* Make the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Add transition for hover effect */
}

.image-profilepic img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the shadow on hover */
}

.divider {
    width: 2px;
    height: 50px;
    background-color: black;
    align-self: center;
    margin-top: 0px;
}

.tabs {
    text-align: center;
    margin-top: 20px;
}

/* Current Tab Styling */

/* Inactive Tabs Styling */
.tablink-1 {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effects */
}

.tablink-1:hover {
    background-color: #333; /* Darker background color on hover */
    color: #fff; /* Text color change on hover */
    transform: scale(1.025); /* Slightly enlarge the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.tablink-1.active {
    background-color: #333;
    color: #fff;
}

.content {
    text-align: center;
    display: none;
    padding: 20px;
}

/*About Me Page Styling*/
.aboutme-content {
    text-align: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.aboutme-content h1 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.aboutme-content h2 {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.content-data {
    text-align: justify;
    margin-right: 250px;
    margin-left: 250px;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    border-top: 1px solid #ccc;
    background-color: #222;
    align-items: center;
    left: 0;
    right: 0;
}

nav {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/*Connect Me Page Styling*/
.logocontainer {
    justify-content: center;
    display: flex;
    justify-content: center; /* Center the container horizontally */
  }
  .logos {
    justify-content: center;
      display: flex;
      align-self: center;
  }
  
  .logos a {
      margin-right: 20px; /* Adjust spacing between logos */
      margin-left: 20px;
  }
  .logodivider {
      width: 2px;
      height: 30px; /* Adjust height as needed */
      background-color: black;
      align-self: center;
      margin-top: 0px; /* Adjust margin as needed */
  }

  /*Research Page Styling*/
  
.header-r {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.image-primary-r {
    max-width: 200px;
    height: auto;
}

.image-secondary-r {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
}

.divider-r {
    width: 2px;
    height: 50px;
    background-color: black;
    margin: 0 20px;
}

.tabs-r {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tablink-1-r {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.tablink-1-r:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}

.tablink-1-r.active {
    background-color: #333;
    color: #fff;
}

.content-r {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.intro-r {
    text-align: center;
    margin-bottom: 20px;
}

.projects-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-r {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-r * {
    text-align: justify;
}

.project-r:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-r h2 {
    margin-top: 0;
}

.project-image-r {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

/*BLOG*/
.blog-posts {
    margin-top: 20px;
}

article {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px; /* Add left margin */
    margin-right: 50px; /* Add right margin */
    position: relative; /* Make the container relative for absolute positioning */
}

.post-image {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust as needed */
    transform: translateY(-50%);
    width: 100px; /* Adjust image width */
    height: 100px; /* Adjust image height */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 5px; /* Add rounded corners */
}

h2 {
    margin-top: 0;
}

.post-date {
    font-style: italic;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.read-more:hover {
    color: #000;
}

/*MODULAR*/

@media (max-width: 1200px) {
    .content-data {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 768px) {
    .content-data {
        margin-left: 50px;
        margin-right: 50px;
    }

    .tablink-1 {
        padding: 8px 15px;
    }

    .aboutme-content h1,
    .aboutme-content h2 {
        padding: 10px;
    }

    .projects-r {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .content-data {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tablink-1 {
        padding: 6px 10px;
    }

    .image-profilepic img {
        max-width: 150px;
    }

    .image-primary,
    .image-primary-r {
        max-width: 150px;
    }

    .image-secondary,
    .image-secondary-r {
        max-width: 50px;
    }

    .tabs-r,
    .header-r {
        flex-direction: column;
    }

    .post-image {
        width: 75px;
        height: 75px;
    }
}